<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          Cafe <b>1900</b> is added to child friendly cafes
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          <b>Coming soon</b> You can rate the cafe's
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
